
* {
	font-family: 'Roboto';
    color: #444;
}

.hidden {
	display:none;
}

.section {
	padding:30px 0px;
}
h1 {
	text-align:center;
}

/* search field */
#search-input {
	width:100%;
	font-size:40px;
	padding:15px;
}

/* view-switch buttons */
.view-button {
	font-size:24px;
	cursor: pointer;
	border:lightgray 1px solid;
	border-radius:15px;
	display:inline-block;
	padding:15px;
	margin-right:10px;
	margin-top:20px;
}
.view-button:hover {
	box-shadow: 0px 0px 15px #333;
}
.view-button.active {
	background-color:rgb(131, 191, 252);
}

/* search results */
.result {
	position:relative;
	border-top: 1px solid lightgray;
	padding: 20px;
	height:276px;

	transition:background-color 0.3s ease-out, height 0.2s linear;
	cursor: pointer;

	overflow-y: hidden;
}
/* clickthrough child elements because of non-jquery event listener */
.result * {
	pointer-events: none;
}
.result:hover {
	background-color:#eee;
}
.result.detailed {
	height:400px;
}
.result .favorite-button {
	position:absolute;
	top:20px;
	right:20px;
	border:#eee solid 1px;
	padding:5px;
	background-color:white;
	border-radius:3px;
	pointer-events:all;
	min-width:142px;
}
.result .favorite-button:hover {
	box-shadow: 0px 0px 15px #333;
}
.result .favorite-button.favorited {

}
.result .poster {
	display:inline-block;
	height: 223px;
	width:146px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px lightgray;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.result .poster.no-poster {
	background-color:lightgray;
}
.result .poster.no-poster::after {
	content: 'No poster available';
    width: 50%;
    display: inline-block;
    margin-left: 25%;
    text-align: center;
    margin-top: 50%;
}
.result .info {
	width:65%;
	display:inline-block;
	vertical-align:top;
	padding:0px 40px;
}
.result .info h1 {
	text-align:left;
}
.result .info h2,
.result .info h3 {
	font-weight:normal;
}
.result .detail-info {
	opacity:0;
	transition:opacity 0.3s ease-out;
}
.result.detailed .detail-info {
	opacity:1.0;
}
